{sub_dirs, ["src", "rel"]}.
{lib_dirs, ["deps"]}.

{erl_opts, [debug_info,
            warn_unused_vars,
            warn_shadow_vars,
            warn_obsolete_guard,
            warn_unused_import]}.

{deps,
 [
  {meck, "0.*",
      {git, "git://github.com/eproxus/meck", {tag, "0.8.2"}}},
  {jesse, ".*",
   {git, "git://github.com/klarna/jesse.git", {tag, "1.0.1"}}},
  {riakc, "1.4.1",
    {git, "git://github.com/basho/riak-erlang-client", {tag,"1.4.2"}}},
  {mochiweb, "2.7.0",
   {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.7.0"}}},
  {ibrowse, ".*",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
  {erlsom, ".*",
   {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}},
  {yaws, ".*", {git, "git://github.com/klacke/yaws.git", "dea23d20f3"}},
  {eper, ".*",
   {git, "git://github.com/massemanet/eper.git", {tag, "0.80.0"}}},
  {log4erl, ".*",
   {git, "git://github.com/skrill/log4erl.git", {branch, "master"}}},
  {pooler, "1.0.0", {git, "git://github.com/seth/pooler.git", {tag, "1.0.0"}}},
  {uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {tag, "v1.3.1"}}},
  {amqp_client, ".*",
   {git, "git://github.com/issuu/amqp_client.git", {tag, "rabbitmq-3.2.2"}}},
  {erlsha2, "2.1",
   {git, "git://github.com/vinoski/erlsha2.git", {branch, "master"}}},
  {jsx, ".*",
   {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{pre_hooks, [
  {'get-deps', "rm -rf deps/selector"},
  {'get-deps', "rm -rf deps/skrilljs"}
]}.

{post_hooks, [
  {'get-deps',
   "git clone git@github.com:skrill/skrill.js-deployment.git deps/skrilljs"},
  {'get-deps',
   "git clone git@github.com:skrill/selector.js-deployment.git deps/selector"},
  {compile, "cp -R deps/skrilljs/v1 priv/www"},
  {compile, "cp -R deps/selector/v1 priv/www"}
]}.

{cover_print_enabled, true}.
{cover_enabled, true}.
{eunit_opts,
   [verbose, {skip_deps, true}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_exclude_deps, true}.
{eunit_compile_opts, [{i, "../"}]}.
